*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* we are taking root instead of body */
#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
}
/* header element */
header{
    background-color: gray;
    height: 60px;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}
/* main elements */
main{
    display: flex;
    flex-direction: column;
}
main textarea{
    background-color: white;
    margin: 20px 10px 10px 10px;
    padding: 10px;
    font-size: 18px;
    font-style: italic;
    border-radius:2.25%;
}
main button{
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    color: green;
    width: 200px;
    margin-left: 10px;
    margin-right: auto;
    margin-bottom: 20px;
}
main hr{
    border: 2px solid white;
}
main h3{
    color: white;
    padding: 2px;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 20px;
}
/* footer element */
footer{
    /* margin-top: 15%; */
    margin-top: auto;
    padding: 10px;
    height: 50px;
    background-color: black;
}
footer p{
    color: white;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
  }